-- MySQL dump 10.13  Distrib 8.0.29, for Win64 (x86_64)
--
-- Host: localhost    Database: bus_ticket
-- ------------------------------------------------------
-- Server version	8.0.29

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `trip_id` int NOT NULL,
  `user_id` int NOT NULL,
  `booking_code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `passenger_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `passenger_phone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `passenger_email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `total_seats` int NOT NULL,
  `total_price` decimal(10,2) NOT NULL,
  `payment_method` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_status` enum('pending','paid','refunded') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `status` enum('pending','confirmed','cancelled') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `booking_code` (`booking_code`),
  KEY `idx_trip` (`trip_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_booking_code` (`booking_code`),
  KEY `idx_status` (`status`),
  CONSTRAINT `bookings_ibfk_1` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bookings_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buses`
--

DROP TABLE IF EXISTS `buses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `buses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `route_id` int NOT NULL COMMENT 'Thuß╗Öc tuyß║┐n n├áo',
  `bus_company` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'T├¬n nh├á xe',
  `bus_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Sß╗æ hiß╗çu xe',
  `license_plate` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Biß╗ân sß╗æ xe',
  `bus_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Loß║íi xe',
  `total_seats` int NOT NULL COMMENT 'Tß╗òng sß╗æ ghß║┐',
  `bus_model` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Model xe',
  `manufacture_year` int DEFAULT NULL COMMENT 'N─âm sß║ún xuß║Ñt',
  `departure_time` time NOT NULL COMMENT 'Giß╗Ø khß╗ƒi h├ánh (mß║Àc ─æß╗ïnh)',
  `arrival_time` time DEFAULT NULL COMMENT 'Giß╗Ø ─æß║┐n dß╗▒ kiß║┐n',
  `duration` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Thß╗Øi gian di chuyß╗ân (VD: 8h30m)',
  `price` decimal(10,2) NOT NULL COMMENT 'Gi├í v├® gß╗æc',
  `discount_percent` decimal(5,2) DEFAULT '0.00' COMMENT 'Giß║úm gi├í (%)',
  `final_price` decimal(10,2) GENERATED ALWAYS AS ((`price` * (1 - (`discount_percent` / 100)))) STORED COMMENT 'Gi├í sau giß║úm',
  `status` enum('active','maintenance','inactive') COLLATE utf8mb4_unicode_ci DEFAULT 'active',
  `condition` enum('excellent','good','fair','poor') COLLATE utf8mb4_unicode_ci DEFAULT 'good',
  `last_maintenance_date` date DEFAULT NULL,
  `next_maintenance_date` date DEFAULT NULL,
  `amenities` json DEFAULT NULL COMMENT 'Tiß╗çn nghi',
  `bus_image` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'H├¼nh ß║únh',
  `policies` text COLLATE utf8mb4_unicode_ci COMMENT 'Ch├¡nh s├ích',
  `rating` decimal(2,1) DEFAULT '0.0' COMMENT '─É├ính gi├í TB',
  `rating_count` int DEFAULT '0' COMMENT 'Sß╗æ lã░ß╗út ─æ├ính gi├í',
  `notes` text COLLATE utf8mb4_unicode_ci COMMENT 'Ghi ch├║',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `license_plate` (`license_plate`),
  KEY `idx_route` (`route_id`),
  KEY `idx_company` (`bus_company`),
  KEY `idx_status` (`status`),
  KEY `idx_price` (`final_price`),
  CONSTRAINT `buses_ibfk_1` FOREIGN KEY (`route_id`) REFERENCES `routes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bß║úng xe cß╗Ñ thß╗â (c├│ gi├í, giß╗Ø, ghß║┐)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buses`
--

LOCK TABLES `buses` WRITE;
/*!40000 ALTER TABLE `buses` DISABLE KEYS */;
/*!40000 ALTER TABLE `buses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `routes`
--

DROP TABLE IF EXISTS `routes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `routes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `departure_point` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '─Éiß╗âm ─æi',
  `arrival_point` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '─Éiß╗âm ─æß║┐n',
  `distance` int DEFAULT NULL COMMENT 'Khoß║úng c├ích (km)',
  `description` text COLLATE utf8mb4_unicode_ci COMMENT 'M├┤ tß║ú tuyß║┐n',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_route` (`departure_point`,`arrival_point`),
  KEY `idx_departure` (`departure_point`),
  KEY `idx_arrival` (`arrival_point`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bß║úng tuyß║┐n ─æã░ß╗Øng (kh├┤ng c├│ gi├í, giß╗Ø)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `routes`
--

LOCK TABLES `routes` WRITE;
/*!40000 ALTER TABLE `routes` DISABLE KEYS */;
INSERT INTO `routes` VALUES (1,'H├á Nß╗Öi','TP. Hß╗ô Ch├¡ Minh',1720,'Tuyß║┐n Bß║»c Nam ch├¡nh',1,'2025-12-01 07:41:46','2025-12-01 07:41:46'),(2,'H├á Nß╗Öi','─É├á Nß║Áng',760,'Tuyß║┐n miß╗ün Trung',1,'2025-12-01 07:41:46','2025-12-01 07:41:46'),(3,'TP. Hß╗ô Ch├¡ Minh','─É├á Lß║ít',300,'Tuyß║┐n du lß╗ïch phß╗ò biß║┐n',1,'2025-12-01 07:41:46','2025-12-01 07:41:46'),(4,'TP. Hß╗ô Ch├¡ Minh','V┼®ng T├áu',125,'Tuyß║┐n biß╗ân gß║ºn',0,'2025-12-01 07:41:46','2025-12-02 01:30:37'),(5,'H├á Nß╗Öi','Hß║úi Ph├▓ng',120,'Tuyß║┐n ─æi biß╗ân ph├¡a Bß║»c hi',1,'2025-12-01 07:41:46','2025-12-01 09:29:38');
/*!40000 ALTER TABLE `routes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seat_layouts`
--

DROP TABLE IF EXISTS `seat_layouts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seat_layouts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `layout_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'T├¬n layout: Limousine 24, Giã░ß╗Øng nß║▒m 40',
  `bus_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Loß║íi xe',
  `total_seats` int NOT NULL COMMENT 'Tß╗òng sß╗æ ghß║┐',
  `num_rows` int NOT NULL COMMENT 'Sß╗æ h├áng',
  `num_columns` int NOT NULL COMMENT 'Sß╗æ cß╗Öt',
  `seat_config` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Cß║Ñu h├¼nh ghß║┐ (JSON)',
  `layout_image` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'H├¼nh ß║únh sãí ─æß╗ô ghß║┐',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_layout` (`layout_name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bß║úng ─æß╗ïnh ngh─®a sãí ─æß╗ô ghß║┐ xe';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seat_layouts`
--

LOCK TABLES `seat_layouts` WRITE;
/*!40000 ALTER TABLE `seat_layouts` DISABLE KEYS */;
/*!40000 ALTER TABLE `seat_layouts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `booking_id` int NOT NULL,
  `trip_id` int NOT NULL,
  `seat_number` int NOT NULL,
  `passenger_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `passenger_phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `status` enum('booked','used','cancelled') COLLATE utf8mb4_unicode_ci DEFAULT 'booked',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_seat` (`trip_id`,`seat_number`),
  KEY `idx_booking` (`booking_id`),
  CONSTRAINT `tickets_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tickets_ibfk_2` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets`
--

LOCK TABLES `tickets` WRITE;
/*!40000 ALTER TABLE `tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trip_seats`
--

DROP TABLE IF EXISTS `trip_seats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trip_seats` (
  `id` int NOT NULL AUTO_INCREMENT,
  `trip_id` int NOT NULL,
  `seat_number` int NOT NULL,
  `status` enum('available','locked','booked') COLLATE utf8mb4_unicode_ci DEFAULT 'available',
  `booking_id` int DEFAULT NULL,
  `locked_until` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_trip_seat` (`trip_id`,`seat_number`),
  KEY `booking_id` (`booking_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `trip_seats_ibfk_1` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trip_seats_ibfk_2` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=121 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trip_seats`
--

LOCK TABLES `trip_seats` WRITE;
/*!40000 ALTER TABLE `trip_seats` DISABLE KEYS */;
/*!40000 ALTER TABLE `trip_seats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trips`
--

DROP TABLE IF EXISTS `trips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trips` (
  `id` int NOT NULL AUTO_INCREMENT,
  `bus_id` int NOT NULL COMMENT 'Xe n├áo chß║íy',
  `trip_date` date NOT NULL COMMENT 'Ng├áy chß║íy',
  `custom_departure_time` time DEFAULT NULL COMMENT 'Giß╗Ø ─æi ri├¬ng (nß║┐u kh├íc mß║Àc ─æß╗ïnh)',
  `custom_price` decimal(10,2) DEFAULT NULL COMMENT 'Gi├í ri├¬ng (nß║┐u kh├íc mß║Àc ─æß╗ïnh)',
  `custom_discount` decimal(5,2) DEFAULT NULL COMMENT 'Giß║úm gi├í ri├¬ng',
  `available_seats` int NOT NULL COMMENT 'Sß╗æ ghß║┐ c├▓n trß╗æng',
  `status` enum('scheduled','running','completed','cancelled') COLLATE utf8mb4_unicode_ci DEFAULT 'scheduled',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_trip` (`bus_id`,`trip_date`),
  KEY `idx_date` (`trip_date`),
  KEY `idx_status` (`status`),
  CONSTRAINT `trips_ibfk_1` FOREIGN KEY (`bus_id`) REFERENCES `buses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Chuyß║┐n xe cß╗Ñ thß╗â (Route + Bus + Ng├áy)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trips`
--

LOCK TABLES `trips` WRITE;
/*!40000 ALTER TABLE `trips` DISABLE KEYS */;
/*!40000 ALTER TABLE `trips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` varchar(20) DEFAULT 'user',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `phone` varchar(15) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_trip_details`
--

DROP TABLE IF EXISTS `v_trip_details`;
